* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background: linear-gradient(190deg, #a5aaff, #55beff);
}

header {
    background-color: aqua;
    border-radius: 10px;
}

nav {
    border-radius: 10px;
    background-color: azure;
}

footer {
    padding: 10px;
    border-radius: 10px;
    background-color: brown;
}